<ul class="container">
    <h2>Carrito de compras</h2>
    {{#each carts}}
    <li>
        <div class="cart">
            <p class="cart__id">ID: {{id}}</p>
            <p>Variedad de productos: {{quantity}}</p>
            <a href="/cart/{{id}}">Ver</a>
        </div>
        {{/each}}
        <a href="/products">Volver</a>
    </li>
</ul>
