<div class="chat">
    <h1 class="title__chat">Chat en Vivo</h1>
    <div>
        <p id="messageLogs"></p>
    </div>
    <div>
        <input type="text" placeholder="Escribe un mensaje..." id="chatBox">
    </div>
</div>