<div class="container__chat">
    <div class="chat">
        <h1 class="title__chat">Chat en Vivo</h1>
        <div class="chat__box">
            <p id="messageLogs"></p>
            <input type="text" placeholder="Escribe un mensaje..." id="chatBox">
        </div>
    </div>
</div>