<div class="container__formProducts">
    <form action="/api/products" class="form__products" id="productForm" method="post">
        <legend>Agregar producto</legend>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Título:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="productTitle" name="title">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Descripción:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="productDescription" name="description">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Categoría:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="productCategory" name="category">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Precio:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="productPrice" name="price">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Imagen:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="productThumbnail" name="thumbnail">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Código: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="productCode" name="code">
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Estado:</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="status" id="productStatusTrue" value="true">
                        <label class="form-check-label">Verdadero</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="status" id="productStatusFalse"
                            value="false">
                        <label class="form-check-label">Falso</label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Stock:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="productStock" name="stock">
            </div>
        </div>
        <div>
            <label>Categoria: </label>
            <label>
                <select name="category">
                    <option value="">Todas las categorías</option>
                    <option value="laptops">Laptops</option>
                    <option value="auriculares">Auriculares</option>
                    <option value="celulares">Celulares</option>
                    <option value="camaras">Cámaras</option>
                    <option value="relojes">Relojes</option>
                    <option value="impresoras">Impresoras</option>
                    <option value="monitores">Monitores</option>
                </select>
            </label>
        </div>
        <input type="submit" class="btn btn-primary" id="addProduct" value="Agregar">
    </form>
</div>