<div class="container margin">
    <h2>Documentos</h2>
    <div class="form">
        <form action="/users/{{userId}}/documents" id="documentsFormId" method="post" enctype="multipart/form-data">
            <legend>Complete los campos para actualizar su Documentación</legend>
            <div>
                <label for="">Identificación</label>
                <input type="file" name="identification" id="identification">
            </div>
            <div>
                <label for="">Comprobante de dirección</label>
                <input type="file" name="proofOfAddress" id="proofOfAddress">
            </div>

            <div>
                <label for="">Comprobante de cuenta</label>
                <input type="file" name="proofOfAccount" id="proofOfAccount">
            </div>

            <input type="submit" value="Cargar documentos">
        </form>
    </div>
</div>