<div class="margin container">
    <form action="/api/sessions/login" method="post" enctype="application/x-www-form-urlencoded">
        <label for="_email">Email:</label>
        <input type="email" name="email" id="_email" />

        <label for="_pass">Contraseña:</label>
        <input type="password" name="password" id="_pass" />

        <button type="submit">Ingresar</button>
    </form>

    <a class="margin" href="/api/sessions/githubcallback">Entrar con Github</a>
    <a class="margin" href="/resetPassword">Restablecer contraseña</a>
    <a class="margin" href="/">Volver</a>
</div>