<div class="container__form">
    <h1 class="title">Iniciar sesión</h1>
    <form class="col g-3 form__reglog" action="/api/sessions/login" method="post" enctype="application/x-www-form-urlencoded">
        <div class="col-md-4">
            <label for="_email" class="form-label">Email</label>
            <input type="email" class="form-control" id="_email" placeholder="nombre@ejemplo.com" name="email">
        </div>
        <div class="col-md-4">
            <label for="_pass" class="form-label">Contraseña</label>
            <input type="password" id="_pass" class="form-control" aria-describedby="passwordHelpBlock" name="password">
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Ingresar</button>
            <button class="btn btn-dark" href="/api/sessions/githubcallback"><svg xmlns="http://www.w3.org/2000/svg"
                    width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
                </svg>Ingresar con Github</button>
        </div>
    </form>
    <div class="container__row">
        <p>¿Olvidaste tu contraseña?</p>
        <strong><a href="/resetPassword">Reestablecer contraseña</a></strong>
    </div>
    <div>
        <a class="back" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5" />
            </svg>Volver</a>
    </div>
</div>