<div class="margin container">
    {{#if passToken}}
    <p>Se ha enviado un email a la cuenta de correo ingresada para restablecer la contraseña</p>
    {{/if}}

    {{#if notPassToken}}
    <p>El link ha expirado. Deberá repetir el proceso de recuperación para emitir un nuevo link ingresando
        <a href="/users/resetPassword">aquí</a>.
    </p>
    {{/if}}
    <a class="margin" href="/users">Volver</a>
</div>