<div class="margin container">
    <form action="/users/resetPassword" method="post" enctype="application/x-www-form-urlencoded">
        <legend>Ingrese el email del cual desea recuperar la contraseña</legend>
        <label for="_email">Email:</label>
        <input type="email" name="email" id="_email" />

        <button type="submit">Restablecer Contraseña</button>
    </form>
    <a class="margin" href="/users">Volver</a>
</div>