<div class="container">
    <h2>Ticket de Compra</h2>
    {{#if ticket}}
    <p><strong>ID del Ticket:</strong> {{ticket.code}}</p>
    <p><strong>Email del Usuario:</strong> {{ticket.purchaser}}</p>
    <p><strong>Total:</strong> ${{ticket.amount}}</p>
    <p><strong>Fecha:</strong> {{ticket.purchase_datetime}}</p>
    {{/if}}
    <a href="/users">Volver al inicio</a>
</div>